/* Here we are styling the body */
body  {
	background: lightcyan;  /* Set the background to a light bluish color */
	width: 800px;           /* Set the body width to 800 pixels */
	margin: auto;           /* Set the margin to 'auto' */
}

h1  {
	color: maroon;
	text-align: center;
}

p  {
	color: gray;
	border: 1px solid gray;
	padding: 10px;
}

a  {
	color: cornflowerblue;
	text-decoration: none;   /* remove the default underline */
}

a:visited  {
	color: tomato;
}

a:hover  {
	text-decoration: underline;
}

ol  {
	border: 5px solid darksalmon;
	border-radius: 10px;
}

.content  li  {
	color: brown;   /* Only list items descendant to div class 'content' are brown */
}

li:first-child  {
	background: yellow;
}

li:nth-child(3)  {
	background: green;
}



